/*
<--!----------------------------------------------------------------!-->
<--! Theme Utilities !-->
<--!----------------------------------------------------------------!-->
*/

@use './theme-variables' as *;
$utilities: (
    "font-size-custom": (property: font-size,
        class: fs,
        values: $font-sizes )
);